* { margin: 0; padding: 0; }
body{
    background-size: 100%;
    background-image: url(blind.jpg);
}
ul {
 list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #323A45;
      font-size: 150%;
}
li {
  float:left;
}
li{
    position: relative;
    left: 40%;
    top: %50;
}
li a {
display: block;
  color: white;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #555;
  color: white;
}
.border{
 
    background:#F6F6F6;
    border-style:groove;
    border-radius: 15px;
    text-align: center;
    width: 50%;
    height: auto;
    padding: 5%;
    margin: auto;
    margin-top: 5%;
    overflow: auto;
 
}
#firstborder{
    border-style:hidden;
    width: 60%;
    float: right;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 16px;
    line-height: 20px;
     text-align: left;
    
 
}
#secondborder{
    border-style:hidden;
    width: 35%;
    float:left;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 16px;
    line-height: 24px;
    text-align: left;

}
#h2{
    color: red;
}
#firstWord{
    color: green;
}
#manifacture{
    background-color: #F6F6F6;
    border-style:groove;
    border-radius: 15px;
    width: 50%;
    height: auto;
    padding: 5%;
    margin: auto;
    margin-top: 3%;
    overflow: auto;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #333; 
}
#footer{
    position: fixed;
   left: 0;
   bottom: 0;
    height: auto;
   width: 100%;
   background-color: #323A45;
   color: white;
   text-align: center;
}
