body{
    background-image: url(blind3.jpg);
    background-size: 100%;
}
ul {
 list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float:left;
}
li{
    position: relative;
    left: 40%;
    top: %50;
}
li a {
display: block;
  color: white;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #555;
  color: white;
}
.border{
 
    background: ;
    border-style:groove;
    border-radius: 15px;
    text-align: center;
    width: 70%;
    height: auto;
    padding: 5%;
    margin: auto;
    overflow: auto;
 
}
#firstborder{
    border-style:hidden;
    width: 60%;
    float: right;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12px;
     text-align: left;
 
}
#secondborder{
    border-style:hidden;
    width: 35%;
    float:left;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 13px;
    text-align: left;

}
#h2{
    color: red;
}
#firstWord{
    color: green;
}
#manifacture{
    border-style:groove;
    border-radius: 15px;
    width: 70%;
    height: auto;
    padding: 5%;
    margin: auto;
    overflow: auto;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 16px;
    text-align: center;
    color: #333; 
}
#footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
